@page "/Parcial/Edit/{Id:int}"

@using Library
@inject NavigationManager navigationManager
@inject HttpClient httpClient

<PageTitle>Editar vehiculo</PageTitle>


<EditForm Model="vehiculo" OnValidSubmit="Guardar">
	<DataAnnotationsValidator />
	<div class="container">
		<div class="card shadow-lg">
			@*Header*@
			<div class="card-header">
				<h3><strong>Editar Veh&iacute;culo</strong></h3>
			</div>
			@*Cuerpo*@
			<div class="card-body">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
						<div class="row input-group col-4">
							@*Vehiculo ID*@
							<label class="form-label" for="VehiculoId"><strong>Veh&iacute;culo:</strong></label>
							<InputNumber id="vehiculoId" class="form-control" @bind-Value="vehiculo.VehiculoId" />
							<ValidationMessage For="@(() => vehiculo.VehiculoId)"></ValidationMessage>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
						<div class="row input-group col-4">
							@*Fecha*@
							<label class="form-label" for="fecha"><strong>Fecha:</strong></label>
							<InputDate id="fecha" class="form-control" @bind-Value="vehiculo.Fecha" />
							<ValidationMessage For="@(() => vehiculo.Fecha)"></ValidationMessage>
						</div>
					</div>
				</div>
				<div class="mb-3">
					@*Descripción*@
					<label class="form-label" for="descripcion"><strong>Descripci&oacute;n:</strong></label>
					<InputTextArea id="descripcion" class="form-control" @bind-Value="vehiculo.Descripcion" placeholder="Ingrese una descripción" />
					<ValidationMessage For="@(() => vehiculo.Descripcion)"></ValidationMessage>
				</div>
				<div class="col-4">
					@*Costo*@
					<label class="form-label" for="Costo"><strong>Costo:</strong></label>
					<InputNumber id="Costo" class="form-control" @bind-Value="vehiculo.Costo" />
					<ValidationMessage For="@(() => vehiculo.Costo)"></ValidationMessage>
				</div>

				<div class="col-4">
					@* Gastos *@
					<label class="form-label" for="gastos"><strong>Gastos:</strong></label>
					<InputNumber id="Gastos" class="form-control" @bind-Value="vehiculo.Gastos" disabled />
				</div>



				<hr />
				<div>
					@*DETALLE Ticket*@
					<fieldset class="border-success border border-1">
						<h3>Detalles</h3>
						<div>
							<div class="row">
								<div class="col-md-6">
									<label>Accesorios:</label>
									<InputSelect @bind-Value="vehiculoDetalle.AccesorrioId" class="form-select">
										<option value="">Seleccionar Accesorio</option>
										@foreach (var item in accesorios)
										{
											<option value="@item.AccesoriosId">@item.Descripcion</option>
										}
									</InputSelect>
									<ValidationMessage For="@(() => vehiculoDetalle.AccesorrioId)" />
								</div>


								@*Valor*@
								<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
									<label>Valor</label>
									<div class="input-group">
										<InputNumber @bind-Value="Valor1" class=" form-control" />
									</div>
								</div>

								@*Boton Agregar*@
								<div class="col-5">
									<br>
									<button type="button" class="btn btn-primary input-group-text" @onclick="AgregarDetalle">
										<i class="bi bi-file-earmark-plus">Agregar</i>
									</button>
								</div>

								@*Tabla de detalles*@
								<hr />
								<table class="table table-bordered table-light m-1">
									<thead class="thead">
										<tr class="table">
											<th>AccesorioId</th>
											<th>Valor</th>
											<th>Acciones</th>
										</tr>
									</thead>

									<tbody>
										@foreach (var detalle in vehiculo.vehiculosDetalles)
										{
											<tr>
												<td>@detalle.AccesorrioId</td>
												<td>@detalle.Valor</td>
												<td> <button class="btn btn-outline-primary" @onclick="@(() => RemoverDetalle(detalle))"><i class="bi bi-trash" />Remover</button></td>
											</tr>
										}
									</tbody>
								</table>



							</div>
						</div>
					</fieldset>

					@*Footer*@
					<div class="card-footer d-flex justify-content-center">
						<div class="px-2">
							<a href="/Parcial/Index" class="btn btn-outline-primary"><i class="bi bi-box-arrow-left" /> Volver</a>
						</div>
						<button type="submit" class="btn btn-outline-success"><i class="bi bi-floppy-fill" /> Guardar</button>
					</div>

				</div>

			</div>
		</div>
	</div>
</EditForm>


@code {
	[Parameter]
	public int Id { get; set; }
	public Vehiculo vehiculo { get; set; } = new Vehiculo();
	public VehiculosDetalle vehiculoDetalle { get; set; } = new();
	public List<Accesorios> accesorios { get; set; } = new List<Accesorios>();
	public string mensaje { get; set; } = string.Empty;

	public decimal Gastos { get; set; }

	public decimal Valor1 { get; set; }


	protected override async Task OnInitializedAsync()
	{
		if (Id > 0)
		{
			vehiculo = await httpClient.GetFromJsonAsync<Vehiculo>($"api/Vehiculoes/{Id}");
			accesorios = await httpClient.GetFromJsonAsync<List<Accesorios>>("api/Accesorios");
		}
	}


	public async Task Guardar()
	{
		var response = await httpClient.PutAsJsonAsync($"api/Vehiculoes/{Id}", vehiculo);
		if (response.IsSuccessStatusCode)
		{
			mensaje = "Se guardo";
			navigationManager.NavigateTo("Parcial/Index");
		}
		else
		{
			mensaje = "No se guardo";
		}
	}


	public void AgregarDetalle()
	{
		var nuevoDetalle = new VehiculosDetalle
			{
				DetalleId = Id,
				Valor = Valor1,
				AccesorrioId = vehiculoDetalle.AccesorrioId
			};
		vehiculo.Gastos += nuevoDetalle.Valor;
		mensaje = $"Valor = {nuevoDetalle.Valor}";
		mensaje = $"Gastos = {vehiculo.Gastos}";
		vehiculo.vehiculosDetalles.Add(nuevoDetalle);
		StateHasChanged();
	}

	public void RemoverDetalle(VehiculosDetalle detalle)
	{
		Id = detalle.DetalleId;
		Valor1 = detalle.Valor;

		vehiculo.Gastos -= detalle.Valor;
		vehiculo.vehiculosDetalles.Remove(detalle);
	}


}