@page "/Parcial/Index"
@inject HttpClient httpClient
@using Library


<div class="card">
    <div class="card">
        <div class="card-header">
            <h3>Vehiculo</h3>
            <a href="/Parcial/create" class="btn btn-outline-primary">Crear vehiculo</a>
        </div>
        <div class="card-body">
            @if (Vehiculo is not null)
            {
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Vehiculo Id</th>
                            <th>Fecha</th>
                            <th>Descripci&omicron;n</th>
                            <th>Costo</th>
                            <th>Gastos</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vehiculo in Vehiculo)
                        {
                            <tr>
                                <td>@vehiculo.VehiculoId</td>
                                <td>@vehiculo.Fecha.ToString("MM/dd/yyyy")</td>
                                <td>@vehiculo.Descripcion</td>
                                <td>@vehiculo.Costo</td>
                                <td>@vehiculo.Gastos</td>
                                <td>
                                    <a href="/Parcial/Edit/@vehiculo.VehiculoId"><i class="bi bi-pencil-square" /></a>
                                    <a href="/Parcial/View/@vehiculo.VehiculoId"><i class="bi bi-eye-fill" /></a>
                                    <a href="/Parcial/Delete/@vehiculo.VehiculoId" class="link-danger"><i class="bi bi-trash" /></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="card-footer">
        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
            <div class="col-12 col-sm-3">
                <label for="CantidadRegistro" class="col-form-label"><strong>Vehiculos</strong>&nbsp;</label>
                <input id="CantidadRegistro" @bind-value="@conteo" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>



@code {
    public List<Vehiculo>? Vehiculo { get; set; }
    public int conteo { get; set; }

    protected override async void OnInitialized()
    {
        Vehiculo = await httpClient.GetFromJsonAsync<List<Vehiculo>>("api/Vehiculoes");
        conteo = Vehiculo != null ? Vehiculo!.Count() : 0;
        StateHasChanged();
    }

}
