@page "/Parcial/View/{Id:int}"
@using Library


@inject HttpClient httpClient
@inject NavigationManager navigationManager


<PageTitle>Detalles Vehiculo</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Detalles Vehiculo</strong></h3>
		</div>
		<div class="card-body col-5">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4"></div>
			<h4><strong>Detalles del Vehiculo</strong></h4>
			@*Datos*@
			<div class="mb-1">
				<p class="mb-0">Vehiculo: @vehiculo.VehiculoId</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Fecha: @vehiculo.Fecha</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Descripci&oacute;n: @vehiculo.Descripcion</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Costo: @vehiculo.Costo.ToString("N2")</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Gastos: @vehiculo.Gastos.ToString("N2")</p>
			</div>


			<div class="card-body">
				<section>
					@*Tabla Detalles*@
					@if (vehiculo.vehiculosDetalles.Count > 0)
					{
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Id</th>
									<th>Accesorios Id</th>
									<th>Valor</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var detalle in vehiculo.vehiculosDetalles)
								{
									<tr>
										<td>@detalle.DetalleId</td>
										<td>@detalle.AccesorrioId</td>
										<td>@detalle.Valor</td>
									</tr>
								}
							</tbody>
						</table>
						<p><strong>Cantidad de Detalles: </strong>@vehiculo.vehiculosDetalles.Count</p>
					}
				</section>
			</div>


		</div>

		<div class="card-footer d-flex justify-content-center">
			<div class="px-2">
				<a href="/Parcial/Index" class="btn btn-outline-primary"><i class="bi bi-box-arrow-left" /> Volver</a>
			</div>
		</div>

	</div>
</div>

@code {
	[Parameter]
	public int Id { get; set; }
	public Vehiculo vehiculo { get; set; } = new Vehiculo();
	public List<Accesorios> accesorios = new List<Accesorios>();

	protected override async Task OnInitializedAsync()
	{
		if (Id > 0)
		{
			vehiculo = await httpClient.GetFromJsonAsync<Vehiculo>($"api/Vehiculoes/{Id}");
			accesorios = await httpClient.GetFromJsonAsync<List<Accesorios>>("api/Accesorios");
		}
	}

}
